# This file is a "template" of what your environment variables (.env) file should look like.
# Create a copy named '.env.local' and fill in the real values.

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=your-secret-key-change-in-production
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# Format: DATABASE_URL="mysql://user:password@host:port/database"
DATABASE_URL="mysql://corpstarter:Po@rmsoigshknn549073@database:3306/corpstarter"
###< doctrine/doctrine-bundle ###

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN='^localhost'
###< nelmio/cors-bundle ###
